html, body, #root {
  height: 100%;

  div.login-container {
    padding-left: 50px;
    padding-right: 50px;

    .yb-link-login {
      font-weight: 100;
      color: #232323;
    }

    input {
      &[type='text'], &[type='password'] {
        background-color: transparent;
        border: none ;
        border-bottom: 1px solid #232323;
        border-radius: 0;
        padding-left: 0;
        text-transform: uppercase;
        color: #232323;
        font-weight: 300;

        &:focus {
          box-shadow: none;
        }

        &::placeholder {
          color: #232323;
        }
      }
    }
  }
}

.yb-navigation {
  color: #232323;

  &.bg-light {
    background-color: #FFCF00 !important;
  }

  .navbar-toggler {
    border: none;

    &:focus {
      box-shadow: none;
    }
  }

  .navbar-brand {
    color: #232323;
  }
}

.match-box {
  height: 130px;
  padding: 20px;

  .match-box-content {
    height: 100%;
    width: 100%;
    background-color: #393939;

    .match-box-content-date {
      margin-top: 8px;
      color: #FFCF00;
      font-size: 14px;
    }
  }
}

